<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
	<appSettings/>
	<connectionStrings>
		<add name="MatrimonialConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=Matrimonial; Integrated Security=True" providerName="System.Data.SqlClient"/>
		<!--<add name="MatrimonialConnectionString" connectionString="Data Source=216.198.203.248; Initial Catalog=Matrimonial; User ID=skvivah;Password=vaidehi@meera; Integrated Security=False;"
    providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
            Integrated Security=True
        -->
		<compilation defaultLanguage="c#" debug="true" targetFramework="4.0">
			<compilers>
				<compiler language="c#" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" extension=".cs" compilerOptions="/d:DEBUG;TRACE"/>
			</compilers>
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="None"/>
		<!--<customErrors mode="RemoteOnly"/>-->
		<authorization>
			<allow users="*"/>
		</authorization>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
    
    <customErrors mode="On"  defaultRedirect="error.htm">
      error statusCode="403" redirect="NoAccess.htm" />
              <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
 -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<xhtmlConformance mode="Legacy"/>
		<customErrors mode="Off" defaultRedirect="SkError.aspx"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
